<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<body>
<div layout:fragment="content">
    <div class="p-2" th:fragment="content">
        <h1 class="font-bold text-3xl mb-4" th:text="#{Home.Body.Title} + ' ' + ${authUser.login}"></h1>

        <h2 class="font-medium text-xl mb-3" th:text="#{Labels.PersonalDetails}"></h2>
        <div class="p-3 border border-gray-300 rounded-md mb-5 grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
                <div class="font-medium" th:text="#{Person.Properties.FirstName} + ':'"></div>
                <div th:text="${authUser.firstName}"></div>
            </div>
            <div class="col-span-6 sm:col-span-3">
                <div class="font-medium" th:text="#{Person.Properties.LastName} + ':'"></div>
                <div th:text="${authUser.lastName}"></div>
            </div>
            <div class="col-span-6 sm:col-span-3">
                <div class="font-medium" th:text="#{Person.Properties.Login} + ':'"></div>
                <div th:text="${authUser.login}"></div>
            </div>
            <div class="col-span-6 sm:col-span-3">
                <div class="font-medium" th:text="#{Person.Properties.DateOfBirth} + ':'"></div>
                <div th:text="${#dates.format(authUser.dateOfBirth, 'dd. MM. yyyy')}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>