<header th:fragment="header">
    <ul>
        <li>
            <a href="#" th:href="@{/}" th:text="#{Nav.Home}"></a>
        </li>
        <li>
            <a href="#" th:href="@{/students}" th:text="#{Nav.Students}"></a>
        </li>
        <li>
            <a href="#" th:href="@{/subjects}" th:text="#{Nav.Subjects}"></a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/login" th:href="@{/login}" th:text="#{Nav.LogIn}"></a>
        </li>
        <li>
            <a href="/logout" th:href="@{/logout}" th:text="#{Nav.LogOut}"></a>
        </li>
    </ul>
</header>