<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#{Students.Head.Title} | Edison</title>
</head>
<body>
<!-- get all, delete -->
<h1>#{Students.Body.Title}</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>#{Person.Properties.Login}</th>
        <th>#{Person.Properties.FirstName}</th>
        <th>#{Person.Properties.LastName}</th>
        <th>#{Person.Properties.DateOfBirth}</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${students}">
        <td>${s.id}</td>
        <td>${s.login}</td>
        <td>${s.firstName}</td>
        <td>${s.lastName}</td>
        <td>${s.dateOfBirth}</td>
        <td>
            <a href="">#{Actions.Edit}</a>
            <form action="" method="get">
                <button type="submit">#{Actions.Delete}</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>